.login-card {
    width: 100%;
    min-height: 100%;
    padding: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-login {
    border: 1px solid rgba(156, 29, 29, 0);
    width: 100%;
    min-height: 550px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 90px 130px 88px 148px;
}

.contact1-pic {
    width: 500px;
    height: 500px;
}

.contact1-pic img {
    max-width: 70%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.card-body {
    margin-top: 2rem;
    margin-left: 2rem;
    flex: 1 auto;
    display: flex;
    padding: 20px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.input-group {
    position: relative !important;
    width: 100%;
    z-index: 1;
    margin-bottom: -1px;
}

.input-group-prepend span {
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
}

input.input1.connexion {
    height: 40px;
    border-radius: 25px;
    padding: 0 30px;
    display: block;
    width: 20%;
    background: #ffffff !important;
    font-family: Montserrat-Bold;
    font-size: 14px;
    line-height: 1.5;
    color: #176d02;
}

.connexion {
    height: 40px;
    border-radius: 25px !important;
    padding: 0 30px;
    display: block;
    width: 20%;
    font-family: Montserrat-Bold;
    font-size: 14px;
    line-height: 1.5;
    color: #176d02;
}

#uname,
#pwd {
    font-size: 13px;
}

.form-check-input {
    color: #176d02;
}

input.input1:focus {
    color: #666666;
}

input {
    margin: 0;
    outline: none;
    border: none;
}